@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&family=Workbench&display=swap');

h1, h2{
  font-family: 'Workbench', sans-serif;
}

.App {
  margin: 0;
  background-color: #111111 ; /* Dark background color for the entire page */
  color: #ffffff; /* White text color */
  text-align: center;
}

header {
  background-color: #2F4F4F; /* Dark gray background color for header */
  padding: 20px;
}

main {
  padding: 20px;
}

#projects {
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Space between items */
}

.project {
  flex: 0 1 calc(33.333% - 20px); /* Each project takes up 1/3 of the container minus the gap */

  padding: 20px;
}

.project img{
  max-width: 100%; /* Set the maximum width to 100% of the parent container */
  max-height: 400px; /* Set the maximum height to 200 pixels */
}

#other-work {
  padding: 20px;
}

footer {
  padding: 20px;
}

h3{
  font-family: 'Roboto Slab', serif;
}

p{
  color: CCCCCC;
  font-family: 'Roboto Slab', serif;
}

.img-effects {
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.img-effects:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.468); /* Change the shadow color to white with reduced opacity */
}

.icon-container{
  flex: display;
  justify-content: space-between;

}

.icon-container svg{
  width: 24px;
  height: 24px;
  margin-right: 5px;
  fill: white;
}

#education {
  margin-top: 1%;
  margin-bottom: 3%;
}

.education-p { 
  font-size: 120%; 
}

.video-container {
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}

.video-container iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Move the iframe back by 50% of its own width and height */
  height: 100%;
  width: 50%;
}

#about-me{
  margin: 2% 25% 0;
}